<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('collaborators')"></head>
<body>
<div th:replace="layout :: header"></div>
<div>
    <nav>
        <ul>
            <li class="selected"><a href="index.html">Projects</a></li>
            <li><a href="collaborators.html">Collaborators</a></li>
            <li><a href="roles.html">Roles</a></li>
        </ul>
    </nav>
</div>
<div th:replace="layout :: flash"></div>

        <section>
            <div class="container wrapper">
                <form method="post" th:action="${action}" th:object="${project}" >
                    <label th:text="'Edit ' + ${project.projectName}">Edit Collaborators: Website Project</label>
                    <ul class="checkbox-list">
                        <li th:each="role : *{rolesNeeded}">
                            <span class="primary"  th:text="${role.roleName}">Developer</span>
                            <div class="custom-select" >
                                <span class="dropdown-arrow"></span>
                                <select th:field="*{collaborators}">
                                    <option th:each="collab : ${role.collaborators}"
                                            th:text="${collab.name}"
                                            th:value="${collab.id}">Michael Pemulis</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions">
                        <input type="submit" value="Save" class="button"/>
                        <a th:href="${cancel}" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>