<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('projects')"></head>
<body>
<div th:replace="layout :: header"></div>
<div>
    <nav>
        <ul>
            <li class="selected"><a th:href="@{/}">Projects</a></li>
            <li><a th:href="@{/collaborators}">Collaborators</a></li>
            <li><a th:href="@{/roles}">Roles</a></li>
        </ul>
    </nav>
</div>
<div th:replace="layout :: flash"></div>

<section>
    <div class="container wrapper">
        <div class="project-list single">
            <div class="project">
                <h2 th:text="${project.projectName}">Website Project</h2>
                <p th:text="${project.projectDescription}">Design and build a custom website</p>
                <span th:class="'tag ' + ${#strings.toLowerCase(project.projectStatus)}" th:text="${project.projectStatus}">Project status</span>
            </div>
            <div class="roles-collaborators">
                <h3>Roles &amp; Collaborators</h3>
                <div class="list-item" th:each="entry : ${rolesAssignment}">
                            <span class="primary"
                                  th:text="${entry.key.roleName}"
                            >Developer</span>
                    <span class="secondary" th:text="${entry.value.name}">Michael Pemulis</span>
                </div>
            </div>
            <div class="actions">
                <a class="button" th:href="@{${project.id} + '/editProject'}">Edit Project</a>
                <a class="button" th:href="@{${project.id} + '/editCollaborators'}">Edit Collaborators</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>